.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
}

.footer__content {
  padding-top: 60px;
  padding-left: 80px;
  display: flex;
  justify-content: space-between;
}

.footer__social-heading {
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 20px 3px;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__list {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.footer__list-item {
  list-style-type: none;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer__list-item:last-of-type {
  margin-bottom: 0;
}

.footer__social-link {
  color: #fff;
  text-decoration: none;
  margin-right: 80px;
}

.footer__copyright {
  display: flex;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  padding-left: 80px;
  padding-bottom: 60px;
  margin-top: 0;
  margin-bottom: 0;
}
