.recipes {
  padding: 100px 80px 215px;
  background-image: url(../images/background_recipes.svg);
  background-image: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0a2750;
}

.recipes__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: normal;
  font-weight: normal;
  font-style: 20px;
  line-height: 30px;
  color: #fff;
  padding-bottom: 80px;
  width: 438px;
  margin: 0;
}

.recipes__videos {
  display: flex;
  gap: 108px;
  justify-content: center;
}

.recipes__iframe {
  max-width: 480px;
  max-height: 273px;
  border: 0;
}

.recipes__videos-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
}
