.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  background-position: center;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  padding: 30px 80px 40px;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
  z-index: -1;
  background-image: url("../images/background_header.svg");
  background-size: cover;
}

.header__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  max-width: 729px;
  font-size: 60px;
  font-weight: 500px;
  line-height: 72px;
  letter-spacing: -0.6px;
  margin: 183px 0 0;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
  font-style: normal;
  margin: 28px 0 0;
}

.header__image {
  width: 646px;
  height: 568px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 128px;
  right: 5px;
}

.header__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: auto;
  box-sizing: border-box;
}

.header__paragraph {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__paragraph:last-of-type {
  position: absolute;
  left: 1300px;
  bottom: 111px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  left: -50;
  width: 105px;
  height: 39px;
}

.nav__links {
  list-style-type: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav__link {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.recipes {
  padding: 100px 80px 215px;
  background-image: url(../images/background_recipes.svg);
  background-image: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0a2750;
}

.recipes__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-style: 20px;
  line-height: 30px;
  color: #fff;
}

.recipes__videos {
  display: flex;
  gap: 100px;
  justify-content: center;
}

.recipes__iframe {
  max-width: 480px;
  max-height: 273px;
}
.recipes__videos-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.recipes__background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.reservation {
  padding: 100px 0 120px;
  background-image: url(../images/background_reservation.svg);
  background-image: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #d9e7ff;
}

.reservation__title {
  margin: 0 0 80px;
  text-align: center;
}

.form {
  max-width: 385px;
}

.reservation__form {
  margin: 0 auto;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__label {
  margin-bottom: 32px;
  display: block;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
}

.form__input {
  display: block;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  margin-top: 8px;
}

.form__button {
  width: 100%;
  padding: 0;
  margin-bottom: 32px;
}
